body {
	/*background-image: linear-gradient(to bottom right, blue, white);*/
	background-image: linear-gradient(to top right, #234fef, #fff);
	padding: 10px 20px;
	/*width: 80vw;*/
	margin: 10px auto;
	text-align: center;
	line-height: 1.1em;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

input, select {
	margin: 10px auto;
	padding: 5px;
	/*text-align: center;*/
	line-height: 1.1em;
	font-size: 1em;
	border-radius: 10px;
}

#handle2 {
	margin-left: 15px;
}

.container-fluid {
	display: flex;
	flex-direction: column;
}

#convertBtn {
	margin-left: 60px;
	background-color: #008000;
	color: #fff;
	padding: 7px 15px;
}

.footer {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #000;
      font-size: 14px;
    }

.footer a {
      color: #000;
      font-size: 14px;

}
    .left {
      position: absolute;
      bottom: 20px;
      right: 10px;
      color: #000;
    }

<<<<<<< HEAD
=======

@media only screen and (max-width: 600px) {
	.footer {
      position: relative;
      bottom: 10px;
      right: 10px;
      color: #000;
      font-size: 14px;
    }

.footer a {
      color: #000;
      font-size: 14px;

}
input, select {
       width: 80vw;
	}
#amount {
	display: block;
}
	#handle2, #convertBtn {
		margin-left: 1px;
	}
>>>>>>> 288b95ba68a88fe163330d0ac05bedb64a30895e
