
/** {
	margin: 0;
	padding: 0;
}*/
body {
	/*background-image: linear-gradient(to bottom right, blue, white);*/
	background-image: linear-gradient(to bottom right, #234fff, #fff);
	padding: 5px 20px;
	/*width: 80vw;*/
	margin: 5px auto;
	text-align: center;
	line-height: 1.1em;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

input, select {
	margin: 10px auto;
	padding: 5px;
	/*text-align: center;*/
	line-height: 1.1em;
	font-size: 1em;
	border-radius: 10px;
}

#convertedValue {
	border-radius: 10px;
	background-color: #245;
	padding: 4px;
	color: #fff;
	/*color: #234fff;*/
}

#handle2 {
	margin-left: 15px;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	margin-top: 0.5vh;
}

#convertBtn {
	margin-left: 60px;
	background-color: #008000;
	color: #fff;
	padding: 7px 15px;
}

.footer {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #000;
      font-size: 14px;
    }

.footer a {
      color: #000;
      font-size: 14px;

}
    .left {
      position: absolute;
      bottom: 20px;
      right: 10px;
      color: #000;
    }

/*<<<<<<< HEAD
=======*/

@media only screen and (max-width: 600px) {
	.footer {
      position: relative;
      bottom: 10px;
      right: 10px;
      color: #000;
      font-size: 14px;
    }

.footer a {
	margin-top: 6vh;
      color: #000;
      font-size: 14px;

}
input, select {
       width: 70vw;
	}
#amount {
	display: block;
}
	#handle2, #convertBtn {
		margin-left: 6px;
	}

	#convertBtn {
		margin-left: -7px;
		width: 30vw;
	}

	#currency {
		margin-top: 4vh;
	}

	.form-div {
		margin-bottom: 2vh;
		margin-top: 0;
	}

	.header {
		margin-top: 0;
		margin-bottom: 0;
	}
/*>>>>>>> 288b95ba68a88fe163330d0ac05bedb64a30895e*/
